@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #231f20; /* Raisin black */
  --background: #fff5ed; /* Seashell */
}

body {
  color: var(--foreground);
  background: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: rgb(255, 255, 255);
    --background: rgb(0, 0, 0); /* Use single color for dark mode */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance; /* Note: This property is not widely supported yet */
  }
}
@layer base {
  h1 {
    @apply font-semibold text-[24px] leading-[110%];
  }
  h2 {
    @apply font-medium text-[16px] leading-[150%];
  }
  .text-regular {
    @apply font-regular text-[16px] leading-[150%];
  }
}
